// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// Variables
@import 'variables';
@import "mixins";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import 'partials/landingpage';
@import 'partials/cart';
@import 'partials/footer';
@import 'partials/navbar';
@import 'partials/crud';
@import 'partials/dashboard';
@import 'partials/orders';
@import 'partials/checkout';
@import 'partials/login&register';
@import 'partials/statistics';

:root {
    font-size: 20px;
    @media screen and (max-width: 762px) {
        font-size: 18px;
    }
}

body{
    font-family: 'Teko', sans-serif;
}
main {
  background-color: #D7EAF0;
}

.btn-bg-black{
  background-color: $bg-footer-color !important;
  color: $secondary-color;
  &:hover{
    color: $bg-primary-color;
  }
}

.btn-bg-salmon {
  background-color: $bg-primary-color !important;
  &:hover{
    background-color: hsl(9, 60%, 45%) !important;
    color: #fff;
    transition: 0 linear !important;
    //filter: brightness(80%);
  }
}

.section-title {
    font-size: $font-extralarge;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    letter-spacing: 1.5px;
    color: #71bed1;
    display: inline-block;
    text-transform: uppercase;
}
